<div id="<%= dom_id flight %>">
  <p>
    <strong>Std:</strong>
    <%= flight.std %>
  </p>

  <p>
    <strong>Etd:</strong>
    <%= flight.etd %>
  </p>

  <p>
    <strong>Airline:</strong>
    <%= flight.airline %>
  </p>

  <p>
    <strong>Flight no:</strong>
    <%= flight.flight_no %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= flight.destination %>
  </p>

  <p>
    <strong>Gate:</strong>
    <%= flight.gate %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= flight.status %>
  </p>

</div>
